.page-title {
  font-size: 56px;
  margin: 0 0 61px 0;
  font-weight: 300;
  color: $blue;
  text-transform: uppercase;
  @include breakpoint(sm) {
    font-size: 38px;
  }
}

.subpage-content {
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #1a1a1a;
  padding: 181px 0 87px 0;
  overflow: hidden;
  @include breakpoint(sm) {
    background-size: auto 506px;
  }

}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}