.box-darknes {
  background-position: center;
  background-size: cover;
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    content: "";
    z-index: 1;
    background: rgba(0,0,0,0.5);
  }
  >* {
    position: relative;
    z-index: 5;
  }
}